<!DOCTYPE html>
<html ng-app>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="http://netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
<style>
    body { padding: 20px; }
    table.table { width: 300px; }
</style>
</head>
<script>
function ProductController($scope) {
    $scope.product = { title: "소주", unitCost: 1500, quantity: 4 };
}
</script>
<body ng-controller="ProductController">

<label>title:</label>
<input type="text" ng-model="product.title" />

<label>unit cost:</label>
<input type="number" ng-model="product.unitCost" />

<label>quantity:</label>
<input type="number" ng-model="product.quantity" />
<hr>

<table class="table table-bordered">
    <tr><td>title</td><td>{{ product.title }}</td></tr>
    <tr><td>unitCost</td><td>{{ product.unitCost }}</td></tr>
    <tr><td>quantity</td><td>{{ product.quantity }}</td></tr>
    <tr><td>unit cost * quantity</td><td>{{ product.unitCost * product.quantity }}</td></tr>
</table>
    
</body>
</html>

